* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
.text-primary {
  color: rgb(253, 110, 10);
}
/* header and navigation styles */
.nav-title {
  font-weight: 800;
  font-size: 50px;
  margin-left: 60px;
}

/* nav tags */
nav {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}
nav ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-left: 20px;
}
/* nav button */
.btn-primary {
  /* button font style */
  color: var(--white-color, #fff);
  font-weight: 700;
  font-size: 20px;
  border: 2px;
  padding: 17px 34px;
  line-height: normal;
  font-family: open sans-serif;
  /* button style */
  border-radius: 10px;
  background: #fd6e0a;
  height: 60px;
}
.header {
  background: #fff8f3;
  background-image: url("../images/header_bg.png"),
    url("../images/developer.png");
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-position: bottom right, left;
  background-size: contain;
  box-shadow: 6px 30px 30px rgba(0, 0, 0, 0.06);
}
/* Banner styles */
.banner {
  margin: 0px 200px;
  align-items: center;
  display: flex;
}
.banner-title {
  font-weight: 550;
  font-size: 80px;
}
.banner-subtitle {
  font-weight: 400;
  font-size: 40px;
  margin-bottom: 12px;
}
.banner-description {
  color: #757575;
  font-size: 18px;
  margin-bottom: 20px;
  padding: 2px 2px;
}
.btn-contact {
  width: 180px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid #fd6e0a;
  color: #fd6e0a;
  text-align: center;
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 20px;
}
.ankit {
  width: 300px;
  height: 350px;
  flex-shrink: 0;
  border-radius: 20%;
  margin-left: 164px;
  border-image: round;
  margin-bottom: 10px;
}
/* main section */
main {
  max-width: 1140px;
  margin: 0 auto;
}
section {
  margin-top: 130px;
}
/* about section styles */
.about {
  background-color: #fff8f3;
  border-radius: 10px;
  padding: 130px 150px;
  text-align: center;
  box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
}
.section-title {
  margin-bottom: 50px;
  font-weight: 35px;
  text-align: center;
}
.section-description {
  color: #757575;
  font-size: 18px;
  margin-bottom: 30px;
}
.about-info-container {
  display: flex;
  justify-content: space-around;
}
.about .info-title {
  font-size: 22px;
  color: #757575;
}
.info-description {
  font-weight: 500;
  font-size: 20px;
  color: #474747;
}
/* what i do styles */

.skills-container {
  display: flex;
  gap: 24px;
}
.skill {
  background: #ffffffff;
  box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  padding: 30px;
}
.skill-title {
  font-weight: 700;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
}
.skill-description {
  color: #757575;
}

/* Resume Section */
.resume-content {
  display: flex;
  gap: 25px;
}
.resume-item{
  margin-top: 30px;
  margin-bottom: 30px;
}
.resume .title {
  font-weight: 700;
  font-size: 25px;
  color: #474747;
  margin-bottom: 10px;
}
.resume .sub-title {
  color: #757575;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 20px;
}
.resume .description {
  color: #757575;
}
.resume-button{
  margin-top: 50px;
  text-align: center;
}
